services:
    app.menu_builder:
        class: AppBundle\Menu\MenuBuilder
        arguments: ["@knp_menu.factory"]

    app.menu.main:
        class: KnpMenuMenuItem
        factory_service: app.menu_builder
        factory_method: createMainMenu
        arguments: ["@request"]
        scope: request
        tags:
            - { name: knp_menu.menu, alias: main }

    app.menu.user:
        class: KnpMenuMenuItem
        factory_service: app.menu_builder
        factory_method: createUserMenu
        arguments: ["@request", "@security.context"]
        scope: request
        tags:
            - { name: knp_menu.menu, alias: user }
